# Python
__pycache__/
*.py[cod]
.venv/

# Local environment
.env
.DS_Store

# Local database / runtime data
data/attendance.db
*.sqlite
*.sqlite3

# Arduino / editor temp files
*.tmp

# Firmware / 3D assets (si tu ne veux pas les versionner)
*.ino
*.stl
